.serachWrapper {
  background-color: var(--contrast-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .ico {
      font-size: 1.125rem;
      color: var(--blue-btn);
    }

    .inputUsername {
      background: transparent;
      padding: 10px;
      border: none;
      display: block;
      width: 80%;
      color: var(--white);

      &::placeholder {
        color: var(--white);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
